/* add css module styles here (optional) */

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #7B7D7D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
